.wrap-list {
    font-size: 2em;
    height: 85%;
    padding: 1.25em 0;
    box-shadow: inset 0 0 0.3125em black;
    border-radius: 0 0 0.625em 0.625em;
    background-image: linear-gradient(transparent 97%, gray 100%);

}
@media only screen and (max-width: 700px) {
  .wrap-list {
    font-size: 1em;
  }
}
  .item input[type="checkbox"] {
    text-align: center;
    min-width: 2em;
    height: 2em;
    cursor: pointer;
    margin-left: 0.5em;
    accent-color:rgba(83,95,108);
  }

  .item input[type="checkbox"]:focus + label{
    text-decoration: underline;
  }

  .list {
    list-style: none;
    margin: 0.2em;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .list li:nth-child(even) {

    background-color: rgba(241,241,241);
  }
  svg{
    min-width: 2em;
    min-height: 1.5em;
    margin-right: 0.5em;
  }
  svg:hover {
    color: rgba(255,0,0);
    cursor: pointer;
  }
  
  .list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list label {
    padding: 0.625em;
    cursor: pointer;
    flex-grow: 1;
    transition: all 0.3s ease;

  }


  
  
  
