*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
*:before,em
*:after{
	box-sizing: border-box;	
}
html,body{
	min-height: 100%;
}
body{
	background-image: radial-gradient(mintcream 0%, gray 100%);
	font-family: "Trebuchet MS";
}
.wrap{
	width: 50%;
	height: 50%;
	margin: 3.125em auto;
	border-radius: 1.25em;
	border: solid 0.5em #2c3033;
	background: white;
	box-shadow: 0 0 0 0.0625em rgba(255,255,255,.4),	0 0 0 0.25 #2c3033;
}

@media only screen and (max-width: 700px) {
	.wrap{
		width: 90%;
		height: 90%;
  }
}
